## DUT Virtex4 LX60

## Should connect to Pin 31 on J4 Header
Net fpga_0_RS232_Uart_1_RX_pin LOC=P4    |  IOSTANDARD = LVCMOS33  |  TIG;
## Should connect to Pin 33 on J4 Header
Net fpga_0_RS232_Uart_1_TX_pin LOC=P6    |  IOSTANDARD = LVCMOS33  |  TIG;

Net fpga_0_clk_1_sys_clk_pin TNM_NET = sys_clk_pin;

TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;
Net fpga_0_clk_1_sys_clk_pin LOC=C13  |  IOSTANDARD = LVCMOS33;
Net fpga_0_rst_1_sys_rst_pin TIG;
Net fpga_0_rst_1_sys_rst_pin LOC=R7  |  PULLUP  |  IOSTANDARD = LVCMOS33;

#=== UART Control / Status Signals to/from PUF Power Board
NET dut_uart_request LOC = P8  |  PULLUP  |  IOSTANDARD = LVCMOS33;
NET dut_uart_release LOC = M7  |  PULLUP  |  IOSTANDARD = LVCMOS33;
NET dut_uart_granted LOC = N8  |  PULLUP  |  IOSTANDARD = LVCMOS33;
NET dut_test_done    LOC = P5  |  PULLUP  |  IOSTANDARD = LVCMOS33;
NET dut_rst          LOC = P7  |  PULLUP  |  IOSTANDARD = LVCMOS33;
